

html {
  font-size: 24px;
  font-family: 'Josefin Slab', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 16px;
  padding: 0;
  -webkit-text-stroke: .25px black;
  -moz-text-stroke: .25px black;
  -text-stroke: .25px black;
}

svg {
  width: 200px;
  position: relative;
  left: calc(50% - 100px);
}

svg:first-of-type {
  transform: scale(.8);
  margin: 96px 0 16px;
}

svg:nth-of-type(2) {
  transform: scale(.4);
  margin: 0 0 192px;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 51px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

section {
  max-width: 620px;
  margin: 0 auto;
  padding: 16px 0;
}

section:before {
  font-family: 'Josefin Slab', serif;
  position: relative;
  top: 45px;
  font-weight: 700;
}

section:first-of-type:before {

}

section:nth-of-type(2):before {
  content:'About me';
  left: -150px;
}

section:nth-of-type(3):before {
  content:'My experience';
  left: -200px;
}



section:nth-of-type(4):before {
  content:'Portfolio';
  left: -132px;
}

section:nth-of-type(5):before {
  content:'Contact info';
  left: -166px;
}

p, ul {
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  font-weight: 400;
  padding: 16px 0;
  margin: 0;
  line-height: 36px;
}

input {
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  font-weight: 400;
  padding: 8px;
  border-radius: 4px;
  width: 190px;
}

button {
  background-color: black;
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}

button:hover {
  background-color: #222;
}

button:active {
  background-color: #333;
}

strong {
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #3F51B5;
  font-weight: 400;
  -webkit-text-stroke: .25px #3F51B5;
  -moz-text-stroke: .25px #3F51B5;
  -text-stroke: .25px #3F51B5;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #9C27B0;
  -webkit-text-stroke: .25px #9C27B0;
  -moz-text-stroke: .25px #9C27B0;
  -text-stroke: .25px #9C27B0;
}
#portfolioRequest {
    display: block;
}

#portfolioArtifacts {
    display: none;
}

#portfolioDenied {
    display: none;
    color: red;
}

ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  margin-top: 10px;
}

li {
  padding: 8px 0px;
  margin: 0;
  list-style: disc;
}



.title {
  text-align: center;
  margin-top: -10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

#ii {display:block;}
#ii2 {display:none;}

.squiggle {
    margin-top: 20px;
    margin-bottom:20px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    cursor: pointer;
}

.arrowsquiggle {
    margin-left: 48%;
    margin-right: 48%;
    width: 4%;
    cursor: pointer;
    display: none;
}

.animate {
  animation: text-stroke 3s;
}
@keyframes text-stroke {
  0%   { -webkit-text-stroke: .25px white; }
  100% { -webkit-text-stroke: .25px black; }
}

.divide {
  margin: 32px auto;
  border-top: 1px solid #000;
}


@media (max-width: 1200px) {

  section {
    margin-top: 40px;
  }

  section:before {
    position: static;
  }

  input {
    width: 160px;
  }

  .squiggle {
    margin-top: 0px;
    margin-bottom:0px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

  .arrowsquiggle {
    display:none;
}

  .arrow {
    display:none;
  }

}

