::selection {
  background: #FFEB3B;
}

html {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 16px;
  padding: 0;
  -webkit-text-stroke: .25px black;
  -moz-text-stroke: .25px black;
  -text-stroke: .25px black;
}

svg {
  width: 200px;
  position: relative;
  left: calc(50% - 100px);
}

svg:first-of-type {
  transform: scale(.8);
  margin: 96px 0 16px;
}

svg:nth-of-type(2) {
  transform: scale(.4);
  margin: 0 0 192px;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

section {
  max-width: 620px;
  margin: 0 auto;
  padding: 16px 0;
}

section:before {
  font-family: 'Josefin Slab', serif;
  position: relative;
  top: 45px;
}

section:first-of-type:before {
  content:'About me';
  left: -150px;
}

section:nth-of-type(2):before {
  content:'My past';
  left: -133px;
}

section:nth-of-type(3):before {
  content:'My design philosophy';
  left: -270px;
}

section:nth-of-type(4):before {
  content:'Some recent work';
  left: -225px;
}

section:nth-of-type(5):before {
  content:'My contact info';
  left: -205px;
}

p, ul {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 16px 0;
  margin: 0;
  line-height: 30px;
}

strong {
  font-style: normal;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #2196F3;
  font-weight: 600;
  -webkit-text-stroke: .25px #2196F3;
  -moz-text-stroke: .25px #2196F3;
  -text-stroke: .25px #2196F3;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #673AB7;
  -webkit-text-stroke: .25px #673AB7;
  -moz-text-stroke: .25px #673AB7;
  -text-stroke: .25px #673AB7;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 18px;
  margin: 0;
  list-style: none;
  text-indent: -21px;
}

li:before {
 content: "\25b8\00a0";
}

.title {
  text-align: center;
  margin-top: -10px;
}

.animate {
  animation: text-stroke 3s;
}
@keyframes text-stroke {
  0%   { -webkit-text-stroke: .25px white; }
  100% { -webkit-text-stroke: .25px black; }
}

.button {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 16px;
  border: 1px solid #3366cc;
  border-radius: 4px;
}

.divide {
  margin: 32px auto;
  border-top: 1px solid #000;
}


@media (max-width: 1200px) {

  svg:first-of-type {
    transform: scale(.6);
    margin: 48px 0 0;
  }

  svg:nth-of-type(2) {
    transform: scale(.4);
    margin: 0 0 192px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
  }

  p, ul, a {
    font-size: 20px;
    line-height: 28px;
  }

  section:before {
    position: static;
    font-size: 14px;
    text-transform: uppercase;
  }

  .arrow {
    display: none;
  }

}


@media (max-width: 1025px) {

  html, a {
    -webkit-text-stroke: 0px black;
    -moz-text-stroke: 0px black;
    -text-stroke: 0px black;
  }

}
